body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content  {
    padding-left: 15px;
    padding-right: 15px;    
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.jumbotron {
    text-align: center;
}

i.fa-heart {
    color: #6b0808;
}

ul.list-unstyled {
    font-size: 1.2em;
}

