@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ShopTrackerify</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to ShopTrackerify!</h2>
        <p>
            ShopTrackerify is a simple shop tracking application that
            features the Entity Framework Core with ASP.NET Core Razor Pages.
        </p>
    </div>
</div>